.header{
    font-size: 30px;
    font-family: 'Bungee Inline', cursive;
    color:var(--red);
    padding: 30px; 
}
.description{
    font-family: 'Didact Gothic', sans-serif;
    padding: 0 50px 30px 50px; 
    font-size: 21px;

}
#title{
    margin: 0 0 11px 0;
    width: 41.5%;
    padding: 11px; 
}
div[id$="item"]{
    margin: 0 0 11px 0;
    width: 105%;
    padding: 11px; 
}
div[id$="quantity_"]{
    margin: 0 0 11px 0;
    width: 20%;
    padding: 11px; 
}

.plus{
    font-family: 'Bungee Inline', cursive;
    font-size: 50px;
    padding: 20px 0 0 0; 
    
}
.plus:hover{
    color: var(--red);
}
.form-group.row{
    margin: 50px;
}
div.div{
    background-color: pink;
}