:root {
    --green: #3db3ac;
    --red: #ff1660f5;
    --blue: #053aa6;
    --daisy: #fbff14;
    --purple: #a46aa0;
    --teal: #014969;
}
body {
    margin: 0; 
}

div {
    text-align: center;
}
.description{
    font-family: 'Didact Gothic', sans-serif;
    padding: 0 50px 30px 50px; 
    font-size: 21px;
}
.title {
    font-size: 30px;
    font-family: 'Bungee Inline', cursive;
    color:var(--red);
    margin: 60px 0 60px 0;
}

.container{
    background-color: var(--green);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 20px 50px 20px 50px;
    width: 100%;
    margin:30px 0 30px 0;
    max-width: 2000px;
   
    
}
img{
    width: 100%;
    height: auto;
}
.apple, .birthday, .share{
    height: 100px;
    width: auto;
    filter: var(--blue);
    padding: 30px 15px 15px 15px ;
}
.info{
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    padding: 10px;
    font-size: 18px;
    text-align: left


}
.registration{
    color: var(--blue);
    font-family: 'Bungee Inline', cursive;
    font-size: 25px;
    padding: 30px 0 30px 0; 
    /* background-image: url(https://i.imgur.com/K9JXwBU.jpg?1); */

}
.form-group{
    margin: 0 auto;
    width:45%;
    padding: 15px;
}
button{
    background-color: var(--blue);
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    border: none;
    padding: 10px;
    margin: 30px 0 30px 0;
    margin: 30px 15px 30px 15px;
}

.ifMember{
    font-family: 'Didact Gothic', sans-serif;
    padding: 30px 0 30px 0; 
}
.click {
    color: var(--red);
}
.click:hover{
    color: var(--blue);
}
#signup{
    background-image: url(https://i.imgur.com/jnBgbvk.jpg?1) center;
    width: 100%;
    height: auto;
}

