:root {
    --green: #395C0D;
    --red: #DB271F;
    --blue: #4C5D81;
    --daisy: #ffd16e98;
}
body {
    margin: 0; 
}

div {
    text-align: center;
}
.title {
    font-size: 30px;
    font-family: 'Bungee Inline', cursive;
    color:var(--red);
    opacity: 60%;
    margin: 60px 0 0 0;
}
.paragraph{
    font-family: 'Didact Gothic', sans-serif;
    padding: 25px 0 0 0;
    font-size: 25px;
    margin: 0 40px 0 40px;

}
.container{
    background-color: var(--daisy);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 0 30px 0 30px ;
    width: 100%;
    margin:30px 0 30px 0;
    max-width: 2000px;
    
}
img{
    width: 100%;
    height: auto;
}
.apple, .birthday, .share{
    height: 150px;
    width: auto;
    filter: var(--blue);
    padding: 30px 15px 15px 15px ;
}
.info{
    color: black;
    font-family: 'Didact Gothic', sans-serif;
    padding: 15px 15px 30px 15px;
    font-size: 18px;

}
.registration{
    color: var(--blue);
    font-family: 'Bungee Inline', cursive;
    font-size: 25px;
    padding: 30px 0 30px 0; 

}
.form-group{
    margin: 0 auto;
    width:45%;
    padding: 15px;
}
button{
    background-color: var(--blue);
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    border: none;
    padding: 10px;
    margin: 30px 0 30px 0;
    margin: 30px 15px 30px 15px;
}

.ifMember{
    font-family: 'Didact Gothic', sans-serif;
    padding: 30px 0 30px 0; 
}
.click {
    color: var(--red);
}
.click:hover{
    color: var(--blue);
}

