
.avocado {
   width: 150px;  
}
.containerNav{
    display: grid;
    grid-template-columns: 2fr  1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 15px;
    align-items:center; 
}
.links{
    color: var(--green);
    font-family: 'Didact Gothic', sans-serif;
}
.links:hover{
    color: var(--blue);
}
