
.avocado {
   width: 50px; 
   margin: 0 -20px 0 0;
  
}
p{
    font-family: 'Bungee Inline', cursive;
    font-size: 30px;
    color: var(--green);
    margin:0 auto;
    float: right;
    margin: 4px 0 0 -18px; 
}
.containerNav{
    display: grid;
    grid-template-columns: 2fr  1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 15px;
    align-items:center; 
}
.links{
    color: var(--green);
}
.links:hover{
    color: var(--blue);
}
