header{
    font-size: 30px;
    font-family: 'Bungee Inline', cursive;
    color:var(--red);
    padding: 30px; 
}
.description{
    font-family: 'Didact Gothic', sans-serif;
    padding: 0 0 30px 0; 
    font-size: 21px;
}
.container2{
    padding: 20px; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; 
}
.newPost{
    color: white; 
}
.newPost:hover{
    color:white;
}
.listItems{
    color: var(--green);
    font-family: 'Bungee Inline', cursive;
}
