.header1{
    font-size: 30px;
    font-family: 'Bungee Inline', cursive;
    color: var(--red);
    opacity: 60%;
    padding: 30px; 
}
.description{
    font-family: 'Didact Gothic', sans-serif;
    padding: 0 0 30px 0; 
    font-size: 21px;
}
.container2{
    padding: 24px; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; 
    background-image: url(https://i.imgur.com/hj09Yuh.jpg);
    
}
.newPost{
    color: white; 
}
.newPost:hover{
    color:white;
    font-family: 'Didact Gothic', sans-serif;
}
.listItems1{
    color: var(--white);
    font-family: 'Bungee Inline', cursive;
    font-size: 25px;
    opacity: 100%;
}
